/* PART OF ASSIGNMENT SI-539 FALL 2023 SCHOOL OF INFORMATION UNIVERSITY OF MICHIGAN 
Created by ColleenVanLent */

/* TEST UPDATE 8 */

body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 20px 20px 0px 20px;
}
h1 {
    font-size: 42px;
    text-align: center;
    padding: 15px;
}
h2{
    font-size: 30px;
    color: #0D0D0D;
}
p {
    font-size: 24px;
    padding: 10px 0 0 10px;
}
img {
    display: block;
    margin: auto;
    width: 250px;
    border: dashed 10px #ffffff;
}
div {
    min-height: 125px;
    padding: 20px;
    border: solid 3px #ffffff;
}
.introduction {
    border: solid 3px #ffffff;
    padding: 20px;
    border-radius: 15px;
    margin: 15px 0 0 0;
    line-height: 2;
}
.red { 
    padding: 20px;
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: solid #ffffff 2px;
    border-left: solid #ffffff 5px;
}
.blue { 
    padding: 20px;
    background-color: #0051ff;
    text-align: left;
    margin-right: 50px;
    border-top: solid #ffffff 2px;
    border-right: solid #ffffff 5px;
}
/* .blue h2 {
    color: #C4C4C4;
}
.blue p{
    color: #C4C4C4;
} */
.blue * {
    color: #C4C4C4;
}
.yellow { 
    padding: 20px;
    background-color: #fff700;
    text-align: right;
    margin-left: 50px;
    border-bottom: solid #ffffff 2px;
    border-left: solid #ffffff 5px;
}
.yellow p {
    color: #707070;
}
.green { 
    padding: 20px;
    background-color: #00D800;
    text-align: left;
    margin-right: 50px;
    border-top: solid #ffffff 2px;
    border-right: solid #ffffff 5px;
}
footer { 
    border: solid 5px #ffffff;
    background-image: linear-gradient(to right, #000000 0%, #0000ff 25%,  #0066ff 70%);
}
footer p {
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0px;
}